/* 
			제작 : 남기문 
		    일자 : 2023. 09. 02
		*/

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
		
/* 메인 스타일 */

body {
    background: white;
    margin: 0;
}

.container {
    padding: 15px 70px;
    width: auto;
    font-family: 'GmarketSansMedium', sans-serif; 
}

#sub_logo{
	width: 65px;
	height: 65px;
	/* 오른쪽으로 간격 */
	padding-right: 100px; 
}

/* 상단바 네비게이션 스타일 */

#navigation { 
    background: white;
    height: 85px;
}

#navigation ul {
    font-size: 0;
    margin: 0;
    padding: 0
}

#navigation ul li {
    display: inline-block;
    position: relative;
}

.menu-etc a {
    display: block;
    font-size: 20px;
    padding: 15px 5px;
    color:black;
    width: auto;
    text-decoration: none;
}
/* 오른쪽 로그인 스타일 */

.menu-etc a:hover{
    color: lightblue;
}

.menu-bar a{
    display: block;
    font-size: 25px;
    padding: 15px 0px;
    margin-right: 50px;
    width: 300px;
    height: 40px;
    color: black;
    transition: 0.3s linear;
    text-decoration: none;
}

/* max-width: 1700px  */

@media (min-width: 1400px) and (max-width: 1700px){

	.menu-bar a{
	    display: block;
	    font-size: 25px;
	    padding: 15px 0px;
	    margin-right: 50px;
	    width: 200px;
	    height: 40px;
	    color: black;
	    transition: 0.3s linear;
	    text-decoration: none;
	}
} 

@media (min-width: 1000px) and (max-width: 1400px){

	.menu-bar a{
	    display: block;
	    font-size: 25px;
	    padding: 15px 0px;
	    margin-right: 50px;
	    width: 100px;
	    height: 40px;
	    color: black;
	    transition: 0.3s linear;
	    text-decoration: none;
	}
} 

@media (min-width: 800px) and (max-width: 1000px){

	.menu-bar a{
	    display: block;
	    font-size: 25px;
	    padding: 15px 0px;
	    margin-right: 50px;
	    width: 80px;
	    height: 40px;
	    color: black;
	    transition: 0.3s linear;
	    text-decoration: none;
	}
} 


.menu-bar:hover { background-color: white;}

.menu-bar ul {
    background-color: white;
    border-bottom: 5px solid #011343;
    display: none;
    position: absolute;
    width: 300px;
}

.inner_button{
    margin: 10px 15px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.inner_button:hover{
    background-color:#011343;
    color: rgb(235, 208, 28);
}